.header{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}
h1{
    display: flex;
    align-items: center;
}
html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: black;
    
}

.wrapper{
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color:   #d3d5e2 ;
}

.content{
    flex: 1;
    overflow: auto;
    height: 10000px;
}
.navigation ul{
    display: flex;
    list-style: none;
}

.navigation ul li{
    margin-left: 20px;
}
.footer{
    display: flex;
    background-color: black;
    padding: 20px;
    margin-top: auto;
    flex-shrink: 0;
    color: white;
    align-items: center;
}


.defContainer{
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.iDefContainer{
    display: flex;
    height: 300px;
    width: 400px;
    justify-content: center;
    font-family: "Cinzel", serif;
}
.sloganContainer, .statementContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 134px;
}
.statementSlogan{
    font-family: "Cinzel", serif;   
}

.imageContainer{
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 40px;
    
}
.iContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statementContainer{
    display: flex;
    align-items: center;
}

.projectImage{
    width: 150px;
}
.projectImage{
    display: flex;
    flex-direction: row;
}
.projectDesc{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: "Cinzel", serif;
}
.spacer{
    height: 10px;
}
.nestedTestContainer{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
    align-items: center;
    gap: 20px;

}
.testContainer{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    background-color: #e2e0d3;
    color: #1e57cc;
    width: 600px;
}

.testContainer:hover{
    animation: mymove 2s infinite;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
.footerSpacer{
    height: 50px;
}

.descAlignment{
    justify-content: center;
    align-self: center;
    
    width: 600px;

}
.descContainer{
    display: flex;
    justify-content: center;
    background-color: #e2e0d3;
}


.dlWrapper{
  display: flex;
  justify-content: center;
}






@font-face {
    font-family: "Cinzel", serif;
    src: url('assets/fontawsome/webfonts/Cinzel-Regular.ttf') format('woff');
}

@font-face {
    font-family: "Marcellus", serif;
    src: url('assets/fontawsome/webfonts/Marcellus-Regular.ttf') format('woff');
}
/*
@keyframes mymove {
    50% {box-shadow: 10px 20px 30px white;}
  }
*/
.nestedTestContainer
#sloganStart{
    animation: fadein 2s;
}
.projectDescLi{
    list-style-type: none;
    background-color: #e2dca9;
    font-family: "Marcellus", serif;
}


#sloganEnd{
    animation: fadein 5s;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
